@charset "utf-8";
p,a {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 22px;
    text-align: center;
    text-decoration: none;
}

h1,h2 {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
}

h1 {
	font-size: 60px
}

#logo {
    padding-top: 20px;
    height: 300px;
    background-color: black;
}

img {
	align-content: center;
    display: grid;
	margin-left: auto;
    margin-right: auto;
}

ul,footer {
    list-style-type: none;
    margin: 0;
	overflow: hidden;
    background-color:#393737;
    text-align: center;
}

li,ul a,footer a {
	color:white;
    padding-left: 35px; 
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

li, li img {
    display: inline-block;
}

li a:hover {
  background-color: white;
  color: black;
}

img:hover {
	opacity: 0.9;
}

#banner img:hover {
    opacity: 1;
}

#logo img:hover {
    opacity: 1;
}

#info {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 75px;
}

#banner {
    padding-bottom: 30px;
}